*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body, ul, li, p{
    font-size: 100%;
    list-style-type: none;
    list-style: none;
}
.opt{
    text-decoration: none;
    color: #fff;
    padding-right: 25px;
    display: block;
    
}
.header{
    
   width: 100%;
   background-color: #8A8FB1;
   align-items: center;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 20px;
}
.logo{
    display: block;
    width: 102px;
    height: auto;
}
.options{
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: #ffffff;
    font-size: 24px;
    font-family: "Sriracha";
    
}
.icon-nav{
    width: 41px;
    height: auto;
    padding-right: 5px;
    display: block;
}
.title{
    font-size: 36px;
    font-family: "Sriracha";
    color: #4361ee;
    text-align: center;
    padding-bottom: 26px;
    padding-top: 18px;
    
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}
.element{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.img-mat{
    display: flex;
    width: 254px;
    border-radius: 10px;
}
.med{
    background-color: #67d777;
    width: 25px;
    height: 175px;
    margin-left: 10px;
    border-radius: 5px;
}
.materias{
    display: inline;
    text-decoration: none;
    color: #4361ee;
    font-size: 24px;
    font-family: "Sriracha";
    padding-right: 20px;
}
.title2{
    font-size: 36px;
    font-family: "Sriracha";
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    
}
.container2{ 
    width: 100%;
    height: auto;
    background-color: #8A8FB1;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.img-dicas{
    display: flex;
    width: 230px;
    height: auto;
    border-radius: 10px;
}
.element-dicas{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dicas{
    display: inline;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: "Sriracha";
    padding-right: 20px;
}
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.alt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.img-move{
    width: 500px;
    height: auto;
}
.elements{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2-2{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.title2-2{
    font-size: 36px;
    font-family: "Sriracha";
    color: #4361ee;
    text-align: center;
    padding-bottom: 20px;
    display: flex;
}
.dicas-2{
    display: inline;
    text-decoration: none;
    color: #4361ee;
    font-size: 24px;
    font-family: "Sriracha";
    padding-right: 20px;
}


